/*
    Custom CSS for the Custom Select Block
    Version: 1.2
*/
.wpcf7-custom-select-wrapper {
    height: 7em;
    overflow-y: scroll;
    overflow-x: hidden;
}
.wpcf7-custom-select-input-helper {
    width: 100%;
}
.wpcf7-custom-select-list ul {
    margin: 0;
    padding: 0px;
    list-style-type: none;
}
.wpcf7-custom-select-list li {
    cursor: default;
    padding: 2px;
}
.wpcf7-custom-select-list-selection {
    background: rgb(228,228,228);
}